<td>
  <a href="/<%= model.panelName %>-panel/view?id=<%= model.id %>"><i class="far fa-eye"></i></a>
  <a href="/<%= model.panelName %>-panel/update?id=<%= model.id %>"><i class="far fa-edit"></i></a>
  <a class="delete" data-name="<%= model.name %>" data-id="<%= model.id %>">
    <i class="far fa-trash-alt"></i></a>
</td>
